@charset "utf-8";

/*
  File Name   : style.css
  Description : Write content styles
*/

/* default
============================================================ */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  margin: 0;
}

/*** image ***/
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*** hypertext ***/
a:link {
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

/*** list ***/
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
}

li,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
}

/* header
============================================================ */

.header-wrap h1 {
  font-family: sutro-open-fill,
    sans-serif;
  font-weight: 400;
  font-style: normal;
}