@charset "utf-8";

/*
  File Name   : style.css
  Description : Write content styles
*/

/* default
============================================================ */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  font-family: "Arial Black", sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  margin: 0;
}

/*** image ***/
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*** hypertext ***/
a:link {
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

/*** list ***/
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
}

li,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
}

/* .common
============================================================ */

.com-title {
  font-family: brim-narrow-combined-1,
    sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header
============================================================ */

.header {
  position: relative;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 1.5rem 2.5rem;
}

.header-wrap h1 {
  font-family: sutro-open-fill,
    /* Adobe Fonts */
    sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #fff;
}

.header-wrap .header-nav ul {
  display: flex;
  justify-content: space-around;
}

.header-wrap .header-nav ul li {
  padding: 0 1rem;
}

.header-wrap .header-nav ul li a {
  color: #fff;
  font-size: 0.875rem;
}

/* .main-visual
============================================================ */

.main-visual {
  background: url(../img/main-visual.png);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.main-visual-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 4.8vw;
  bottom: 4.5vw;
  width: 37.3vw;
  height: 21.8vw;
  border: 3px solid #CAB5AB;
}

.main-visual-text-wrap {
  font-size: 3.61vw;
  line-height: 5.46vw;
  color: #fff;
  letter-spacing: -3px;
}

.main-visual-text-wrap span {
  color: #98755C;

}

.about {
  height: 100vh;
}